.home{
    background-image:linear-gradient(rgba(214, 46, 51, 0.6),rgba(214, 46, 51, 0.6)), url(../img/events-heavenly-header.jpg);
    background-position: 100% 100%;
    background-size: cover;
    height: 100vh;
}
.left{
    position: fixed;
     left: 0;
}
.navbar{
    background-color: #414658;
    padding: 70px;
    height: 100vh;
   
}
.left .closed{
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 25px;
}
.left .icons{
   display: flex;
   align-items: center;
   margin-left: 15px;
   cursor: pointer;
}
.navbar-nav li a{
    font-size: 25px;
    padding-bottom: 30px;
}
.hoverCalor{
    color: rgb(214, 46, 51) !important;
    transition: color 1s;
   
}
.card-header{
    background-color:  rgba(214, 46, 51, 0.6);
}
.card-body{
    background-color: #ccc;
    display: none;
}
.card .card-header{
    cursor: pointer;
}
.sec3{
    background-image:linear-gradient(rgba(214, 46, 51, 0.6),rgba(214, 46, 51, 0.6)), url(../img/invitation-2508607__340.jpg);
    width: 100%;
   height: 50vh;
    margin-top: 50px;
    background-size: cover;
    background-position: 100%;
}
.sec3 .time{
   padding: 70px;
   border: #ccc solid 1px;
}
.time{
display: flex;
justify-content: center;
}
.gmail,.num{
    color: crimson;
}
.icon{
    cursor: pointer;
    border: solid 1px #ccc;
    padding: 5px 15px ;
    transition: all 0.5s;
 
}
.icon:hover{
    background-color: rgb(214, 46, 51);
    color: white;
}
.form-control{
    border-radius: 0;
}